.DS_Store
OIP ideas

caloomhtml/UI/UI..ReSharper
.idea/.name

.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.idea/CaloomUI.iml


caloomhtml/.DS_Store

caloomhtml/UI/docs/oip-additions/oip-assets/codekit-config.json

caloomhtml/UI/docs/oip-additions/oip-assets/oip-js/modal-id-actions-ck.js

caloomhtml/UI/docs/oip-additions/oip-assets/oip-js/in-context-editing-ck.js

caloomhtml/UI/docs/oip-layouts/tabs-debug.phtml
