/* @override http://caloomgit:8888/UI/docs/oip-additions/oip-assets/oip-css/oip-in-context-edit.css */

.in-context-edit p.view-content,
.in-context-edit>*:hover {
	outline: 1px solid #fcfcc8;
	background-color: #d4e6e6;
	
}


p.view-label {
	display: inline-block;
	width: 17%;
	float: left;
	margin-right: 3%;
	text-align: right;
}

p.view-content {
	display: inline;
	width: 76%;
	float: left;
	outline: 1px solid #fcfcc8;
	background-color: #d4e6e6;
	border: 1px solid #afbebe;
}

a.open-IncontextEditDialog_Text_Short.in-context-edit:hover {
	outline: 1px solid #fcfcc8;
	background-color: #c2d3d3;
	color: #300f09;
	outline: 1px solid #ebebb7;
}

#IncontextEditDialog_Text_Short,
#IncontextEditDialog_Text_Long {
	background-color: #d2e5e5;
	border-style: none;
	-moz-box-shadow: 5px 5px 10px #504429;
	-webkit-box-shadow: 5px 5px 10px #504429;
	box-shadow: 5px 5px 10px #504429;
}

div.modal-backdrop.fade.in {
	background-color: rgba(27, 21, 16, 0.54);
}

