/* @override http://caloomgit:8888/UI/docs/oip-additions/oip-assets/oip-css/oip-additions.css */

#container-focus {
	margin-top: 40px;
}

.container-summary,
section.container-summary {
	padding: 19px;
}

#container-focus div.span12 {
	margin-left: 20px;
}

div.page-header.marketing h1 {
	margin-top: 0;
}

div.tab-content {
	right: 19px;
	position: relative;
	min-height: 300px;
}

#map img {
	max-width: none;
}

/*Color*/
body {
	background-color: #faf8f2;
	color: #302123;
}

.navbar-inner {
 background-color: #f3eddf;
 background-image: -moz-linear-gradient(top, #f3eddf, #f3eddf);
 background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3eddf), to(#f3eddf));
 background-image: -webkit-linear-gradient(top, #f3eddf, #f3eddf);
 background-image: -o-linear-gradient(top, #f3eddf, #f3eddf);
 background-image: linear-gradient(to bottom, #f3eddf, #f3eddf);
 background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3eddf', endColorstr='#fff3eddf', GradientType=0);
 border: 1px solid #e4d8bb;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
 }
 
 .navbar .brand {
	color: #282828;
	text-shadow: 0 1px 0 #f3eddf;
}

.navbar .divider-vertical {
  border-color: #f3eddf; /*was fffafdfa */
}

.navbar .nav > li > a {
  text-shadow: #f3eddf; /*was fffafdfa */
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.nav-tabs li > a:hover,
.nav-tabs li.active > a,
.nav-tabs li.active > a:hover,
.nav-pills li > a:hover,
.nav-pills li.active > a,
.nav-pills li.active > a:hover,
.modal-footer {
  background-color: #f3eddf; /*was fffafdfa */
}

section.container-summary,
container-summary {
	background-color: white;
}

/*repositioning*/
.marketing h1 {
	margin-top: 0;
}

/*borders*/
.well {
	border-color: #e4d8bb;
}

.marketing {
	border-bottom-style: none;
}

.nav-tabs {
border-bottom: 1px solid transparent;
}

div.tab-content.tab-border {
	border: 1px solid #e4d8bb;
}


#container-focus div.span12 ul.nav.nav-tabs li.active a {
  border-color: #e4d8bb #e4d8bb #f3eddf #e4d8bb;
	
}

ul.nav.nav-tabs {
	border-right-color: transparent;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:hover {
  border-color: #d2c29a #f3eddf #d2c29a #ddcea9;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #e4d8bb transparent #e4d8bb #e4d8bb;
  *border-right-color: #ffffff;
 } 
  
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #f3eddf;
}

a.btn.btn-primary.btn-small {
margin-top: 11px;
padding: 4px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #a7283e;
  *background-color: #a7283e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc3552), to(#a7283e));
  background-image: -webkit-linear-gradient(top, #dc3552, #a7283e);
  background-image: -o-linear-gradient(top, #dc3552, #a7283e);
  background-image: linear-gradient(to bottom, #dc3552, #a7283e);
  background-image: -moz-linear-gradient(top, #dc3552, #a7283e);
  background-repeat: repeat-x;
  border-color: #a7283e #a7283e #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdc3552', endColorstr='#ffa7283e', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  letter-spacing: 0.15em;
}

a.btn.btn-primary.btn-small :hover,
a.btn.btn-primary.btn-small :active,
a.btn.btn-primary.btn-small .active,
a.btn.btn-primary.btn-small .disabled,
a.btn.btn-primary.btn-small [disabled] {
  color: #ffffff;
  background-color: #a7283e;
  *background-color: #a7283e;
}

a.btn.btn-primary.btn-small :active,
a.btn.btn-primary.btn-small .active {
  background-color: #a7283e \9;
}

 .navbar .nav > li > a.btn.btn-primary.btn-small:focus,
 .navbar .nav > li > a.btn.btn-primary.btn-small:hover {
   background-color: #a7283e;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   text-decoration: none;
   padding: 10; } 
  
  
  
  
  
  
  
  
  