.reading-pane {
  -moz-box-shadow: 1px 1px 10px #00f;
  -webkit-box-shadow: 1px 1px 10px #00f;
  box-shadow: 1px 1px 10px #00f;
}
@media (max-width: 480px) {
  
}
@media (max-width: 767px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 979px) {
  
}
@media (min-width: 1200px) {
  
}
