/* Start Aalto Visual Identity Additions */

body {
  background-color:lighten(@bodyBackground, 100%);
}
.well, .row {
  background-color:lighten(@bodyBackground, 95%);
// .opacity(80);
  border-radius: (3px);
}

.row-fluid {
  background-color: @white;
}
// Navbar

.navbar-static-top{padding-top: 5px;}

.navbar .container {
  position: relative;
}
.navbar-inner {
  padding: 7px 0;
  padding-bottom: 0px;
  background: darken(@bodyBackground, 40%);
  border-bottom: 1px solid #121212;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.navbar-fixed-top {
  position: static;
}

.navbar .nav a {
  font-size: 11px;
}

//Subnavbar

.subnavbar {
  //border-top: 1px solid #595959;
}

.subnavbar-inner {
  height: 80px;
  background: darken(@bodyBackground, 33%);
  //background-image: -moz-linear-gradient(top, #414141, #323232);
 // background-image: -ms-linear-gradient(top, #414141, #323232);
 //background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#323232));
 // background-image: -webkit-linear-gradient(top, #414141, #323232);
 // background-image: -o-linear-gradient(top, #414141, #323232);
 // background-image: linear-gradient(top, #414141, #323232);
  //background-repeat: repeat-x;
 // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414141', endColorstr='#323232', GradientType=0);

  border-bottom: 1px solid #000;
}

.subnavbar .container > ul {
  display: inline-block;
  height: 80px;
  padding: 0;
  margin: 0;
  border-left: 1px solid #292929;
  border-right: 1px solid #4A4A4A;
}

.subnavbar .container > ul > li {
  float: left;
  min-width: 90px;
  height: 80px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  border-left: 1px solid darken(@bodyBackground, 20%);
  border-right: 1px solid darken(@bodyBackground, 20%);
  border-top: 1px solid darken(@bodyBackground, 20%);
}

.subnavbar .container > ul > li.group-name {
  float: left;
  min-width: 90px;
  height: 80px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  border-left: 1px solid darken(@bodyBackground, 33%);
  border-right: 1px solid darken(@bodyBackground, 33%);
  border-top: 1px solid darken(@bodyBackground, 33%);
}
.subnavbar .container > ul > li > a > i.group-name {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 17px;
  margin-bottom: .25em;
  font-size: 28px;
}

.subnavbar .container > ul > li > a {
  display: block;
  height: 100%;
  padding: 0 15px;
  font-size: 12px;
  font-weight: normal;
  color: lighten(@bodyBackground, 0%);
  //text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.subnavbar .container > ul > li > a:hover {
  color: fade(@logoColor, 70%);
  text-decoration: none;
}

.subnavbar .container > ul > li > a > i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 17px;
  margin-bottom: .25em;
  font-size: 28px;

}

.subnavbar .container > ul > li > a > span {
  display: block;
}

.subnavbar .container > ul > li.active > a {
  position: relative;
  background-color: darken(@bodyBackground, 40%);
  border-top: 1px solid darken(@bodyBackground, 40%);
  color: @logoColor;
  top:-1px;
}

.subnavbar .dropdown .dropdown-menu a {
  font-size: 12px;
}

.subnavbar .dropdown .dropdown-menu {
  text-align: left;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.subnavbar .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

.subnavbar .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  left: 10px;
}


.subnavbar .caret {
  margin-top: 4px;
  border-top-color: white;
  border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
  display: none;
}

// Container and Well

#container-focus {
  margin-top: 10px;
}
.span2plus {
//  width: 21.777%;
  width: 21.5%;
}
.span4plus {
//  width: 46.777%;
  width: 46.57%;
}

.hero-unit {
  background-repeat: no-repeat ;
  width: auto;
  padding-top: 22px;
  padding-bottom: 0px;
  background-color: white;}

div.blog >.hero-unit {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-blog.png");
}
div.about >.hero-unit {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-about.png");
}
div.map >.hero-unit  {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-map.png");
}
div.group >.hero-unit  {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-group.png");
}
div.activity >.hero-unit  {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-activity.png");
}
div.latest >.hero-unit  {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-latest.png");
}

.small>.hero-unit {
  padding: 0px;
  margin:0px;
  min-height:70px;
  h1 {text-align: left;line-height: 0.4;}
  h1 a {
    font-size: 50%;
  }
  small a {
    font-size:70%;
  }
  background-color: none;
  background-image: none !important;
}

.index {
  background-repeat: no-repeat ;
  width: auto;
  padding: 0px;
  margin: 0px;
  >* {font-size: 12px;}
}
.index-blog {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/index-blog.png");
}
.index-about {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/index-about.png");
}
.index-activity {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/index-activity.png");
}
.index-group {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/index-group.png,*0.3");
}


// adjustments for accordion in index
// border set to bodybackground
.accordion-group-index {
//  border: 1px solid @bodyBackground;
}

// border set to bodybackground
.accordion-inner-index {
  padding-left: 3px;
  border-top: 1px solid @bodyBackground;
}
.accordion-inner-index li a {
  padding-left: 3px;
}

.accordion-group-index .accordion-heading a,
.accordion-group-index .accordion-inner {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

//pager adjustments
.pager a {
  font-size: 80%;
  padding: 3px 10px;
}

//thumbnails and images

a.wide-flat img{
  position:absolute;
  clip:rect(250px,800px,350px,0px);
}

//in-context editing
.editable {
  background-color: lighten(@aaltoYellow, 40%);
}

.editable-with-border {
  margin:3px;
  outline-color: red;
  background-color: #ffb6c1;
}

.editable-when-empty {
  margin:3px;
  outline-color: #1655b2;
  background-color: #add8e6;
}

.noteditable {
}


// tests for the aalto look-alike navbar
ul.header-first li.hse a,
ul.header-first li.chem a,
ul.header-first li.sci a,
ul.header-first li.elec a,
ul.header-first li.taik a,
ul.header-first li.aalto a,
ul.header-first li.eng a,
{  float: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  height: 28px;
  line-height: 12px;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  width: 120px;
  border-left-color:white;
  border-left-style: solid;
  border-left-width: 3px;
}

// Aalto logotype in text
.aalto-background {
  background-color: transparent;
  padding: 4px;
  text-shadow: none;
}

.aalto, .aalto-mark {
  font-size: (@baseFontSize *3);
  line-height: (@baseLineHeight *2);
  font-weight: bold;
  color: lighten(@bodyBackground,100%);
  display: inline-block;
  float: left;
}

.aalto-mark {
  color: @logoColor;
}
.aalto-university, .aalto-gi {
//  display: inline-block;
  //clear: both;
  padding-left:5px;
  font-size: (@baseFontSize *0.9);
  line-height: (@baseLineHeight *0.2);
  font-weight: normal;
}
.aalto-gi {
  color: @white;
}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid lighten(@aaltoGray, 80%);
  background-color:lighten(@aaltoGray, 50%);
}

/* End Aalto Visual Identity Additions */
