
/* OIP Specific Styling */
.navbar-static-top{padding-top: 5px;}

.well {padding-left: 0px;padding-right: 0px;}

#container-focus {
  margin-top: 10px;
}
.span2plus {
//  width: 21.777%;
  width: 21.5%;
}
.span4plus {
//  width: 46.777%;
  width: 46.57%;
}
// Aalto specific styling
/* Aalto Specific Styling */
//  div.services {
//  border-top: 9px solid #928b81;
//  padding: 0 0 7px 0;
//  border-color:#7f786d;

//  border-bottom: 9px solid #928b81;
//  border-top-left-radius: 100% 20px;
//  border-top-right-radius: 10% 100%;
//  border-bottom-left-radius: 100% 20px;
//  border-bottom-right-radius: 10% 100%;

//}
//.navbar .nav > li.blog:hover a {color:@aaltoGreen;}
//.navbar .nav > li.about:hover a {color:@aaltoPurple;}
//.navbar .nav > li.map:hover a {color:@aaltoFuchsia;}
//.navbar .nav > li.group:hover a {color:@aaltoOrange;}
//.navbar .nav > li.activity:hover a {color:@aaltoTurquoise;}

.hero-unit {
//background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/oip-hero-solid-turquoise.png");
  background-repeat: no-repeat ;
  width: auto;
  padding-top: 22px;
  padding-bottom: 0px;
  background-color: white;}

div.blog >.hero-unit {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-blog.png");
}
div.about >.hero-unit {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-about.png");
}
div.map >.hero-unit  {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-map.png");
}
div.group >.hero-unit  {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-group.png");
}
div.activity >.hero-unit  {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-activity.png");
}
div.latest >.hero-unit  {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/hero-unit-latest.png");
}

.small>.hero-unit {
  padding: 0px;
  margin:0px;
  min-height:70px;
  h1 {text-align: left;line-height: 0.4;}
  h1 a {
    font-size: 50%;
  }
  small a {
    font-size:70%;
  }
  background-color: none;
  background-image: none !important;
}

.index {
  background-repeat: no-repeat ;
  width: auto;
  padding: 0px;
  margin: 0px;
  >* {font-size: 12px;}
}
.index-blog {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/index-blog.png");
}
.index-about {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/index-about.png");
}
.index-activity {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/index-activity.png");
}
.index-group {
  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/index-group.png,*0.3");
}


.row-blog {
  border-bottom: @aaltoYellow 9px solid;
}
// adjustments for accordion in index
// border set to bodybackground
.accordion-group-index {
  border: 1px solid @bodyBackground;
}
// border set to bodybackground
.accordion-inner-index {
  padding-left: 3px;
  border-top: 1px solid @bodyBackground;
}
.accordion-inner-index li a {
  padding-left: 3px;
}

.accordion-group-index .accordion-heading a,
.accordion-group-index .accordion-inner {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

//pager adjustments
.pager a {
  font-size: 80%;
  padding: 3px 10px;
}

//thumbnails and images

a.wide-flat img{
  position:absolute;
  clip:rect(250px,800px,350px,0px);
}

//in-context editing
.editable {
  background-color: lighten(@aaltoYellow, 40%);
}

.editable-with-border {
  margin:3px;
  outline-color: red;
  background-color: #ffb6c1;
}

.editable-when-empty {
  margin:3px;
  outline-color: #1655b2;
  background-color: #add8e6;
}

.noteditable {
}


// tests for the aalto look-alike navbar
ul.header-first li.hse a,
ul.header-first li.chem a,
ul.header-first li.sci a,
ul.header-first li.elec a,
ul.header-first li.taik a,
ul.header-first li.aalto a,
ul.header-first li.eng a,
{  float: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  height: 28px;
  line-height: 12px;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  width: 120px;
  border-left-color:white;
  border-left-style: solid;
  border-left-width: 3px;
}

// Aalto logotype in text
.aalto-background {
  background-color: fff;
  padding: 4px;
  text-shadow: none;
}

.aalto {
  font-size: 100px;
  line-height: 90px;
  font-weight: bold;
  color: @aaltoBlack;
}

.aalto-mark {
  font-size: 100px;
  line-height: 90px;
  color: @aaltoRed;
  font-weight: bold;
}
.aalto-university, .aalto-gi {
  display: block;
  clear: both;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
}
.aalto-gi {
  color: @aaltoGray;
}

ul li .aalto-nav, .aalto-nav {
  float: left;
  min-width: 90px;
  height: 80px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
//  border-left: 1px solid @aaltoGray;
  //border-right: 1px solid @aaltoGray;
}
ul li.aalto-nav:first-child {
  //border-left: 1px solid @aaltoGray;
 // border-right: 1px solid @aaltoGray;
}

ul li ul li >*{
  text-align: left;
}

.icon-large {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 36px;
  color:lighten(@aaltoGray,30%);
}
.icon-large:hover {
  color:lighten(@aaltoGray,0%);
}
// test from fab.com
//img {
//  background-image: url("@{base-url-local}/../oip-additions/oip-assets/oip-images/ui/img-fill.gif");
//  background-repeat: repeat ;
//  width: 200px;
//}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid lighten(@aaltoGray, 80%);
  background-color:lighten(@aaltoGray, 50%);
}