/* Change the docs' brand */
body > .navbar .brand {
	  padding: 12px 0 0;
	margin-left: 0px;
/*  margin-top: 4px;*/
  float: left;
  color: #302123;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
	  }
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}