body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3e5055;
}

header{
	background-color: #1c99b8;
	padding-left: 20px;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

header h2{
	color: #FFF;
	margin: 0px;
	line-height: 40px;
	font-size: 18px;
}


h1, h2, h3, h4{
	font-family: 'Baumans', Arial, Helvetica, sans-serif;
}

#map_frame{
	width: 1000px;
	height: 400px;
	margin-top: 50px;
	position: relative;
}

#spot_holder{
	position: absolute;
	
	top: 0px;
	left: 0px;
	z-index: 3;
}

.spot{
	position: absolute;
	width: 5px;
	height: 5px;
}

.spot.highlight{
	padding: 5px;
}

#additional_canvas{
	position: absolute;
	
	top: 0px;
	left: 0px;
	z-index: 5;
}

#map_holder{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#map_masker{
	-moz-box-shadow: inset 0 0 50px 50px rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0 0 50px 50px rgba(255, 255, 255, 1);
	box-shadow: inset 0 0 50px 50px rgba(255, 255, 255, 1);
	
	position: absolute;
	width: 100%;
	height: 100%;
	
	top: 0px;
	left: 0px;
	z-index: 4;
}


#title_border_holder{
	position: absolute;
	width: 100%;
	height: 100%;
	
	top: 0px;
	left: 0px;
	z-index: 10;
}

.border_title{
	position: absolute;
	line-height: 22px;
	background-color: #3e5055;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}

.border_title:hover{
	
}

.border_title:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.border_title .text{
	display: block;
	float: left;
	color: #FFF;
	padding-left: 5px;
}

.border_title .counter{
	color: #CCC;
	font-size: 10px;
	display: block;
	float: right;
	padding-right: 5px;
}

.spot_result{
	position: absolute;
	width: 10px;
	height: 10px;
}
